html{position: relative;height: 100%;}
body{
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;

}
.login_wrapper{
	background: url(loginBg.png) no-repeat center;
	background-size: cover;
	height: 100%;
	width: 100%;
}
.login_content{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -135px;
    margin-left: -90px;
}
.login_content h1{
	color: #fff;
	font-style: italic;
	font-size: 26px;
}
.loginBtn{
	background: url(loginBtn.png) no-repeat;
	background-size: cover;
	width: 302px;
	height: 66px;
	display: block;
	
}